html, body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;

}

html {
    font-size: 16px;
}

body {
    background: #fff;
    color: #5A5C5E;
    font-family: -apple-system, Roboto, BlinkMacSystemFont, “Segoe UI”, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: 800px;
    padding-bottom: 4em;
    padding-top: 2em;
    margin: 0 auto;
    width: calc(100% - 4em);
/*    border-style: solid; */
/*    border-color: black; */
}

.button {

}


h1 {
    font-size: 3em;
    line-height: 1.15em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin-top: 0em;
  margin-bottom: 0em;
}



a {
    color: #E3008C;
}

.caption p {
    font-size: .8125em;
    font-weight: 700;
}

p.intro {
  font-size: 1em;
  font-weight: 400;
}

.caption img {
    margin-top: .5em;
    margin-bottom: 2em;
    border-style: solid;
    border-width: thin;
    border-color: #DDDFE4;
    max-width: 100%;
}


.pb-sm {
    padding-bottom: .5em;
}

.pb1 {
    padding-bottom: 1em;
}

.pb2 {
    padding-bottom: 2em;
}

.pt1 {
    padding-top: 1em;
}

.pt2 {
    padding-top: 2em;
}


.pt4 {
    padding-top: 4em;
}

.pr1 {
    padding-right: 1em;
}

h2 {
    font-weight: 700;
    padding-top: .3em;
    margin: 0;
}

.h2-rule {
    border-bottom: 1px solid hotpink;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 0px;

}


li a {

    display: block;
    color: #5A5C5E;
    padding: 16px 0px;
    text-decoration: none;
    border-bottom: 1px solid hotpink;
}

h5:last-of-type, .dotted li a {
    border-bottom: 1px dashed hotpink;
}

/* Change the link color on hover for list items */
li a:hover {
    color: deeppink;
    background-color: #F8FCFF;
}


/* Resume styles */

.heading {
  font-size: 1.25em;
  padding-bottom: 0;

}

.row {
  display: flex;
}

.column {
  width: 50%;
}

.column:first-child {
   margin-right: 2em;
}

.back-link {
  display:flex;
  align-items:center;
  text-decoration:none;
  margin-top: 2em;
}

.back-link img {
  margin-right:3px;
  width:16px
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-wrap: wrap;
  }
  .column {
    margin-right: 0em !important;
    width: 100%;
  }
}
